#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
}

/* Estilos para el input */
input {
  width: 50%;
  padding: 10px;
  margin-bottom: 30px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

input:focus {
  outline: #00bbe0 1.5px solid;
}

/* CSS de regalo */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 660px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 5px;
}

/* Estilos para cada una de las box */
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-width: 1.5px;
  border-style: solid;
  font-weight: 500;
  font-size: 18px;
  color: white;
  transition: background-color 0.3s;
}

.check {
  color: #213547;
}

@media (max-width: 730px) {
  .container {
    max-width: 500px;
    padding: 20px 5px;
  }
}

@media (prefers-color-scheme: light) {
  .container {
    border: 1px solid #8d97a0;
  }

  .box {
    color: #213547;
  }
}